<%= erb :page_layout %>
    <h2>Login</h2>
    <% if error %>
        <p class="error"><strong>Error:</strong> <%= error %> 
    <% end %>
    <form action="/login" method="post">
        <label>Username:</label>
        <input type="text" name="username"></input>
        <label>Password:</label>
        <input type="password" name="password"></input>
        <input type="submit" value="Login"></input>
    </form>
</body>

